/* feuille de style pour bonus EchecFlexbox */
.echec {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
figcaption {
  display: none;
}
